@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #14120b;
  color: #edecec;
  height: 2000px;
}
a {
  text-decoration: none;
  color: #edecec;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
}
a:hover {
  opacity: 0.5;
}
.first {
  width: 90%;
  justify-self: center;
  overflow: hidden;
  z-index: -1;
}

header {
  height: 52px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 15px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #14120b;
  z-index: 1000;
}
.logo {
  width: 100px;
  height: 24px;
}
.btn {
  display: flex;
  gap: 10px;
}
.button {
  font-size: 14px;
  padding: 5.6px 10.5px 5.88px;
  background: transparent;
  border: 1px solid #edecec;
  text-decoration: none;
  border-radius: 30px;
}
.navigation ul {
  display: flex;
  gap: 30px;
  list-style: none;
}
.navigation ul li {
  gap: 5px;
}
.last-btn {
  background-color: #edecec;
  color: #14120b;
}
.last-btn a {
  color: #14120b;
}
.section1 {
  margin-top: 8rem;
  padding: 2rem;
}
.head{
  margin-left: 2rem;
}
.section1 h1 {
  margin: 0 0 1rem 0;
  font-size: 1.75rem;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
}
.download {
  padding: 0.6rem 1rem;
  border-radius: 30px;
  background-color: #edecec;
  border: 0;
}
.download a {
  color: #14120b;
  font-size: 16px;
  font-family: "Fredoka", sans-serif;
  font-weight: 400;
}
.section1 .img {
  justify-self: center;
  margin: 4rem 0 1.5rem 0;
}
.section2 {
  padding: 0.5rem 1rem;
}
.section2 p {
  text-align: center;
  padding: 0.5rem;
  font-size: 17px;
}
.section2 .comp-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0 1rem 0;
  /* flex-wrap: wrap; */
}
.section2 .child {
  width: 175px;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b1913;
  border-radius: 6px;
  margin: 0 0.5rem;
}
.section2 div img {
  width: 65px;
  height: 45px;
}
.section3 .img {
  justify-self: center;
  margin: 4rem 0 1.5rem 0;
}
.section11{
    padding: 5rem 0;
    margin: 3rem 0;

}
.section11 h1{
    text-align: center;
    font-size: 4.5rem;
    font-weight: bold;
    font-family: "Fredoka", sans-serif;
  font-weight: 400;
}
.section11 button{
    display: flex;
    justify-self: center;
    margin: 1rem 0 0 0;
}




































footer{
    background-color: #1b1913;
    color: #edecec;
    padding: 2rem 1rem 2rem 1rem;
    width: 100%;
}
.foot{
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    margin: 1rem 0rem 5rem 0rem;
}
.foot-content{
    line-height: 1.8;

}
.p{
    opacity: 0.5;
    font-size: 18px;
    margin-bottom: 1rem;
}
